@use '@styles/abstracts' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  width: 100%;
}

.label {
  font-family: $font-body;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $color-neutral-900;
  display: block;
}

.required {
  color: $color-error;
  margin-left: 2px;
}

.input {
  @include transition(all);
  
  width: 100%;
  height: $input-height;
  padding: $input-padding;
  
  font-family: $font-body;
  font-size: $font-size-body;
  color: $color-neutral-900;
  
  background-color: $color-neutral-100;
  border: $input-border-width solid $color-neutral-400;
  border-radius: $radius-sm;
  
  &::placeholder {
    color: $color-neutral-400;
  }

  &:hover:not(:disabled) {
    border-color: $color-primary-blue;
  }

  &:focus {
    outline: none;
    border-color: $accent-teal;
    box-shadow: $shadow-focus;
  }

  &:disabled {
    background-color: $color-neutral-200;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--error {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
      box-shadow: 0 0 0 4px rgba($color-error, 0.1);
    }
  }
}

.error {
  font-size: $font-size-small;
  color: $color-error;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.helper {
  font-size: $font-size-small;
  color: $color-neutral-700;
}
